* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(3, 146, 63);
    color: rgb(255, 255, 255);
}

header {
    position: fixed;
    top: 0;
}

footer {
    height: 140px;
}

body {
    background-color: yellowgreen;
    position: relative;
    top: 100px;

} 

.container {
    background-color: yellow;
    border: 5px dotted green;
    color: black;
}

#contact-form {
    margin: auto;
    border: 5px dashed greenyellow;
    width: 250px ;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#frog_img {
    width: 200px;
}

h1,h2 {
    /* unessesary duplicate code, just an example  of CSS formating specific elements*/
    text-align: center;
}

#header-links {
    position: relative;
    text-align: right;
    color: yellow;
    bottom: 50px;

}